[project]
	description = Trial java application to send gcm notification
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anmolbabu
[access "refs/for/refs/*"]
	read = group user/anmolbabu
	push = group user/anmolbabu
	label-Code-Review = -2..+2 group user/anmolbabu
	label-Verified = -1..+1 group user/anmolbabu
	rebase = group user/anmolbabu
	removeReviewer = group user/anmolbabu
	submit = group user/anmolbabu
[access "refs/heads/*"]
	read = group user/anmolbabu
	create = group user/anmolbabu
	push = +force group user/anmolbabu
	pushMerge = group user/anmolbabu
[access "refs/tags/*"]
	push = +force group user/anmolbabu
	pushTag = group user/anmolbabu
	pushSignedTag = group user/anmolbabu
